---
import { Image } from "astro:assets";
import facebook from "/src/assets/social/facebook-blue.svg";
import linkedin from "/src/assets/social/linkedin-blue.svg";
import twitter from "/src/assets/social/twitter-blue.svg";
import instagram from "/src/assets/social/instagram-blue.svg";
import youtube from "/src/assets/social/youtube-blue.svg";

const year = new Date().getFullYear();
---

<footer class="py-12 bg-slate-100">
  <div class="container">
    <div
      class="grid items-center lg:grid-cols-4 max-md:justify-center md:grid-cols-2 max-lg:gap-y-4"
    >
      <ul class="flex flex-col gap-4 max-lg:items-center">
        <li><a href="#" class="text-[#373636] text-lg">About us</a></li>
        <li><a href="#" class="text-[#373636] text-lg">Privacy</a></li>
      </ul>
      <ul class="flex flex-col gap-4 max-lg:items-center">
        <li><a href="#" class="text-[#373636] text-lg">What we do</a></li>
        <li>
          <a href="#" class="text-[#373636] text-lg">Terms and conditions</a>
        </li>
      </ul>
      <ul class="flex flex-col gap-4 max-lg:items-center">
        <li><a href="#" class="text-[#373636] text-lg">Blogs</a></li>
        <li><a href="#" class="text-[#373636] text-lg">FAQ</a></li>
      </ul>
      <ul class="flex flex-col items-end gap-4 max-lg:items-center">
        <li>
          <a href="tel:+994502160050" class="text-[#373636] text-lg">
            (050) 216 00 50
          </a>
        </li>
        <li>
          <a href="mailto:info@allstream.az" class="text-[#373636] text-lg">
            info@allstream.az
          </a>
        </li>
      </ul>
    </div>
    <hr class="w-full mt-7.5 mb-9 bg-[#ACB1C4] h-px border-0 rounded-xs" />
    <div
      class="flex items-center justify-between max-md:flex-col max-md:gap-y-4"
    >
      <div class="font-medium text-sm text-[#ACB1C4]">
        &copy; {year} Bütün hüquqları qorunur.
      </div>
      <div class="flex items-center">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="btn btn-circle btn-text [--btn-color:#4080AA]"
        >
          <Image src={facebook} alt="Facebook" />
        </a>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          class="btn btn-circle btn-text [--btn-color:#4080AA]"
        >
          <Image src={linkedin} alt="LinkedIn" />
        </a>
        <a
          href="https://www.twitter.com/"
          target="_blank"
          class="btn btn-circle btn-text [--btn-color:#4080AA]"
        >
          <Image src={twitter} alt="Twitter" />
        </a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="btn btn-circle btn-text [--btn-color:#4080AA]"
        >
          <Image src={instagram} alt="Instagram" />
        </a>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          class="btn btn-circle btn-text [--btn-color:#4080AA]"
        >
          <Image src={youtube} alt="Youtube" />
        </a>
      </div>
    </div>
  </div>
</footer>
